@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates";
}

.background {
  background-color: rgb(47, 3, 100);
}

button {
  padding: 3px;
  background: white;
  border-radius: 7px;
}


button:hover {
  background-color: rgb(47, 3, 100);
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(161, 121, 231);
}

a:hover {
  color: maroon;
}
